#email с которого будет идти рассылка
EMAIL=email1@gmail.com
#пароль для приложений на указанном аккаунте, не от аккаунта!
PASSWORD=ajkshuqnxalkmxsaas
#ваш smtp адрес с хостом
ADDRESS_HOST=smtp.gmail.com:587
#ваш smtp адрес без хоста 
ADDRESS=smtp.gmail.com  