#host - указываем хостuser user-  указываем пользователя password - пароль базы данных dbname - имя бд port - порт подключения к бд sslmode -  по умолчанию  disable
DSN=host=localhost user=user1 password=my_pass dbname=names port=5432 sslmode=disable
#Подпись JWT
SECRET=.r85I&<Gt-TMmRGi^0ET:XcHhev2cOYycRX6Rm-uu$f