#host - указываем хостuser user-  указываем пользователя password - пароль базы данных dbname - имя бд port - порт подключения к бд sslmode -  по умолчанию  disable
DSN=host=localhost user=user1 password=my_pass dbname=names port=5432 sslmode=disable
#Подпись JWT
SECRET=.r85I&<Gt-TMmRGi^0ET:XcHhev2cOYycRX6Rm-uu$f
#email с которого будет идти рассылка
EMAIL=email1@gmail.com
#пароль для приложений на указанном аккаунте, не от аккаунта!
PASSWORD=ajkshuqnxalkmxsaas
#ваш smtp адрес с хостом
ADDRESS_HOST=smtp.gmail.com:587
#ваш smtp адрес без хоста 
ADDRESS=smtp.gmail.com